.*/
__*/
*.toml
*.exe
*.csv
*.xlsx
*.pyproj
*.txt
*.log
*.bin
*.zip
*.rar
*.md
*.cmd
*.jpg
*.code-workspace

log/
charles/

test*
/*.py

!.github
!.github/**
!docs/**
!aiotieba/config_example/**

!README.md
!requirements.txt
!pyproject.toml
!cmd_handler.py
!cloud_review_vtuber.py
