*

!.clang-format
!.gitattributes
!.gitignore
!LICENSE
!mkdocs.yml
!pyproject.toml
!README.md
!setup.py

!.github
!.github/**
!aiotieba
!aiotieba/**
!docs
!docs/**
!tests
!tests/**

*.py[cd]
__pycache__
