[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
urls = { Repository = "https://github.com/Starry-OvO/aiotieba/", Documentation = "https://v-8.top/" }
name = "aiotieba"
description = "Asynchronous I/O Client for Baidu Tieba"
readme = "README.md"
requires-python = ">=3.9"
authors = [{ name = "Starry-OvO", email = "starry.qvq@gmail.com" }]
keywords = ["tieba", "crawler", "spider"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: The Unlicense (Unlicense)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Internet :: WWW/HTTP :: Session",
]
dependencies = [
    "aiomysql<0.2,>=0.1.0",
    "beautifulsoup4<5,>=4.0.0",
    "httpx<0.24,>=0.23.0",
    "httpx_ws<0.3,>=0.2.2",
    "lxml<5,>=4.0.0",
    "opencv-contrib-python-headless<4.8,>=4.6.0.66",
    "protobuf<5,>=4.12.0",
    "pycryptodome<4,>=3.0.0",
    "pysimdjson<5.1,>=5.0.0",
    "tomli<3,>=2.0.0;python_version<'3.11'",
]
dynamic = ["version"]

[tool.setuptools.packages.find]
include = ["aiotieba*"]

[tool.setuptools.package-data]
"aiotieba.config_example" = ["*.toml"]

[tool.setuptools.dynamic]
version = { attr = "aiotieba.__version__" }

[tool.black]
line-length = 120
skip-string-normalization = true
target-version = ['py310', 'py311']

[tool.ruff]
line-length = 120
select = ["W", "E", "F"]
ignore = ["E402", "E501"]
target-version = "py311"

[tool.pytest.ini_options]
minversion = "6.0"
required_plugins = "pytest-asyncio"
addopts = "-q"
asyncio_mode = "strict"
