[build-system]
requires = ["scikit-build-core"]
build-backend = "scikit_build_core.build"

[project]
name = "aiotieba"
version = "4.3.1a1"
description = "Asynchronous I/O Client for Baidu Tieba"
authors = [{ name = "Starry-OvO", email = "starry.qvq@gmail.com" }]
urls = { Repository = "https://github.com/Starry-OvO/aiotieba/", Documentation = "https://aiotieba.cc/" }
readme = "README.md"
keywords = ["baidu", "tieba"]
classifiers = [
  "Development Status :: 4 - Beta",
  "Framework :: AsyncIO",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: The Unlicense (Unlicense)",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Topic :: Internet :: WWW/HTTP :: Session",
]
requires-python = ">=3.8,<3.13"
dependencies = [
  "aiohttp<3.10,>=3.8.4;python_version=='3.8'",
  "aiohttp<4,>=3.8.4;python_version>='3.9' and python_version<'3.12'",
  "aiohttp<4,>=3.9.0;python_version>='3.12'",
  "beautifulsoup4<4.13,>=4.4.1;python_version=='3.8'",
  "beautifulsoup4<5,>=4.5.2;python_version=='3.9'",
  "beautifulsoup4<5,>=4.7.1;python_version>='3.10'",
  "lxml<5.2,>=4.4.1;python_version=='3.8'",
  "lxml<6,>=4.6.0;python_version=='3.9'",
  "lxml<6,>=4.6.4;python_version=='3.10'",
  "lxml<6,>=4.9.2;python_version=='3.11'",
  "lxml<6,>=4.9.3;python_version>='3.12'",
  "protobuf<5,>=4.21.0",
  "cryptography<43,>=35.0.0",
  "async-timeout<5,>=4.0;python_version<'3.11'",
]

[project.optional-dependencies]
img = [
  "opencv-contrib-python-headless<5,>=4.6.0.66;sys_platform=='linux'",
  "opencv-contrib-python<5,>=4.6.0.66;sys_platform!='linux'",
]
speedup = [
  "aiodns<4,>=3.0.0",
  "orjson<3.10,>=2.0.11;python_version=='3.8'",
  "orjson<4,>=2.2.0;python_version=='3.9'",
  "orjson<4,>=3.4.7;python_version=='3.10'",
  "orjson<4,>=3.7.10;python_version=='3.11'",
  "orjson<4,>=3.9.10;python_version>='3.12'",
  "uvloop<0.20.0,>=0.14.0;python_version=='3.8' and sys_platform!='win32'",
  "uvloop<1.0,>=0.15.0;python_version=='3.9' and sys_platform!='win32'",
  "uvloop<1.0,>=0.16.0;python_version=='3.10' and sys_platform!='win32'",
  "uvloop<1.0,>=0.17.0;python_version=='3.11' and sys_platform!='win32'",
  "uvloop<1.0,>=0.18.0;python_version>='3.12' and sys_platform!='win32'",
]

[tool.pdm.dev-dependencies]
lint = ["ruff", "black"]
test = ["aiotieba[speedup]", "pytest==8.1.0", "pytest-asyncio==0.23.5", "pytest-rerunfailures==13.0"]
doc = ["mkdocs-material", "mkdocstrings[python]"]

[tool.scikit-build]
sdist.exclude = ["*.proto", ".*", "docs", "scripts", "tests", "mkdocs.yml"]
wheel.exclude = ["*.c", "*.h"]

[[tool.scikit-build.generate]]
path = "aiotieba/__version__.py"
template = '''__version__ = "${version}"'''

[tool.cibuildwheel]
build = "cp38-* cp39-* cp310-* cp311-* cp312-* pp38-* pp39-* pp310-*"
skip = "*-win32 *_i686 *_s390x *_ppc64le"

[tool.black]
line-length = 120
skip-string-normalization = true
target-version = ["py38", "py39", "py310", "py311", "py312"]

[tool.ruff]
line-length = 120
target-version = "py38"

[tool.ruff.lint]
select = ["W", "E", "F", "I"]
ignore = ["E402", "E501"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
"typing.py" = ["F401"]
"*_pb2.py" = ["F401"]

[tool.pytest.ini_options]
addopts = "-q"
testpaths = ["tests"]
required_plugins = "pytest-asyncio pytest-rerunfailures"
asyncio_mode = "strict"
