[data-md-color-scheme=slate] {
  --md-hue: 210;
  --md-default-bg-color: hsla(var(--md-hue), 15%, 10%, 1);
  --md-typeset-a-color: hsla(var(--md-hue), 75%, 50%, 1);
}

div.docstring {
  padding-left: 15px;
  margin-bottom: 30px;
  border-left: 5px solid rgba(230, 230, 230);
}