name: CI-beta

on:
  workflow_dispatch:

jobs:
  test-beta:
    name: Test-beta
    runs-on: ubuntu-latest

    environment: develop

    env:
      PYTHON_VERSION: "3.14"

    steps:
      - name: Checkout develop
        uses: actions/checkout@v4
        with:
          ref: develop

      - name: Setup UV
        uses: astral-sh/setup-uv@v5
        with:
          cache-dependency-glob: "pyproject.toml"

      - name: Install dependencies
        run: |
          uv python pin ${{ env.PYTHON_VERSION }}
          uv sync

      - name: Run tests
        env:
          TB_BDUSS: ${{ secrets.BDUSS }}
          TB_STOKEN: ${{ secrets.STOKEN }}
        run: |
          uv run pytest
