name: CI

on:
  schedule:
    - cron: "42 6 * * *"
  push:
    branches: [develop]
    paths:
      - "aiotieba/**"
      - "tests/**"
      - ".github/workflows/CI.yml"
  pull_request:
    branches: [develop]
    paths:
      - "aiotieba/**"
      - "tests/**"
      - ".github/workflows/CI.yml"
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    environment: develop

    strategy:
      matrix:
        python-version: ["3.9", "3.13"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: develop

      - name: Setup UV
        uses: astral-sh/setup-uv@v5
        with:
          cache-dependency-glob: "pyproject.toml"

      - name: Install dependencies
        run: uv sync -p ${{ matrix.python-version }}

      - name: Run tests
        env:
          TB_BDUSS: ${{ secrets.BDUSS }}
          TB_STOKEN: ${{ secrets.STOKEN }}
        run: uv run pytest
